<div class="menu-bar__container">
    <div class="menu-bar__logo">
        <img src="assets/ps-logo.png" alt="" width="140px" height="32px">
    </div>
    <div class="menu-bar__item">
        <ul>
            <li><a href="https://www.linkedin.com/in/elias-junior-9b799820b/" target="_blank">LINKEDIN</a></li>
            <li><a href="https://github.com/eubro/StoreGames" target="_blank">GITHUB</a></li>
            <li><a href="https://angular.io/docs" target="_blank">CONHEÇA ANGULAR</a></li>
        </ul>
    </div>
</div>
